In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [2]:
in_f <- '/oak/stanford/groups/mrivas/projects/biomarkers/snpnet/biomarkers/biomarkers_covar.w_split.phe'
out_f <- '/oak/stanford/groups/mrivas/projects/biomarkers/snpnet/biomarkers/biomarkers_covar.w_split.sorted.phe'

In [3]:
psam_f <- '/oak/stanford/groups/mrivas/ukbb24983/array_combined/pgen/ukb24983_cal_hla_cnv.psam'

In [9]:
psam_df <- fread(psam_f, colClasses=c('#FID'='character', 'IID'='character'))
df <- fread(in_f, colClasses=c('FID'='character', 'IID'='character'))

In [11]:
df_sorted <- df %>%
left_join(   
    psam_df %>% 
    select(IID) %>%
    mutate(psam_order = 1:n()),
    by='IID'
) %>%
arrange(psam_order) %>%
select(-psam_order) %>%
fwrite(out_f, sep='\t', na = "NA", quote=F)

In [6]:
df %>% head()

  FID     IID     split age age0     age1 age2 sex BMI     Array ⋯
1 2502845 2502845 val   50  42.01780 NA   NA    1  28.1528  1    ⋯
2 2314965 2314965 train 55  47.01711 NA   NA    0  32.2979  1    ⋯
3 1142584 1142584 test  60  52.43532 NA   NA    0  20.3894  1    ⋯
4 3665122 3665122 train 74  65.76591 NA   NA    0  27.0790  1    ⋯
5 4377492 4377492 val   65  57.01574 NA   NA    0  36.0347  1    ⋯
6 2652670 2652670 NA    NA        NA NA   NA   NA       NA NA    ⋯
  Rheumatoid_factor SHBG        Sodium_in_urine Testosterone Total_bilirubin
1 -9.0000000         0.63602943  0.61334793      0.27286060   0.5204386
2 -9.0000000        -9.00000000  0.16083891     -0.04435945  -0.5980682
3 -9.0000000         0.06273032 -0.35600816     -0.31957300   0.1243965
4 -9.0000000        -0.06862089  0.01073017      0.11581492   0.2706802
5  0.1126329        -0.17941333  0.49714745     -0.59068545  -0.1767633
6         NA                 NA          NA              NA          NA
  Total_protein Triglycerides Urate       Urea        Vitamin_D
1 -0.039636829  -0.2868009     0.09388844  0.17387464  0.18068183
2 -9.000000000   0.9991994    -9.00000000  0.31388765 -9.00000000
3 -0.001759489   0.2478688     0.04810635  0.03104997 -0.05428741
4  0.062122582  -0.2389132     0.04271661 -0.06918281  0.18833282
5 -0.023004922   0.6176008     0.16832390 -0.05354495 -0.16898312
6           NA          NA             NA          NA          NA