In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [2]:
in_f <- '/oak/stanford/groups/mrivas/ukbb24983/phenotypedata/master_phe/master.20200408.phe'

out_f <- '/oak/stanford/groups/mrivas/projects/biobank-methods-dev/master.20200408.sorted.phe'

In [3]:
psam_f <- '/oak/stanford/groups/mrivas/ukbb24983/array_combined/pgen/ukb24983_cal_hla_cnv.psam'

In [4]:
psam_df <- fread(psam_f, colClasses=c('#FID'='character', 'IID'='character'))
df <- fread(in_f, colClasses=c('FID'='character', 'IID'='character'))

In [5]:
dim(psam_df)

[1] 488377      3

In [6]:
dim(df)

[1] 516885   3521

In [7]:
df_sorted <- df %>%
left_join(   
    psam_df %>% 
    select(IID) %>%
    mutate(psam_order = 1:n()),
    by='IID'
) %>%
arrange(psam_order) %>%
select(-psam_order) %>%
fwrite(out_f, sep='\t', na = "NA", quote=F)