In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib, collections, itertools, os, re, textwrap, logging
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import matplotlib.patches as mpatches
from functools import reduce

from logging.config import dictConfig
from logging import getLogger

dictConfig(dict(
    version = 1,
    formatters = {'f': {'format': '%(asctime)s %(name)-12s %(levelname)-8s %(message)s'}},
    handlers = {
        'h': {'class': 'logging.StreamHandler','formatter': 'f',
              'level': logging.DEBUG}},
    root = {'handlers': ['h'], 'level': logging.DEBUG,},
))

matplotlib_font = { 
    'size'   : 16 #, 'family' : 'normal', 'weight' : 'bold', 
}

matplotlib.rc('font', **matplotlib_font)
logger = getLogger('notebook')

repo_dir=os.path.realpath(
    os.path.join('..', '..')
)
data_dir=os.path.realpath(
    os.path.join(repo_dir, 'private_data', os.path.basename(os.path.realpath(os.getcwd())))
)

In [2]:
split_class='train'
source_file=os.path.join(data_dir, '{}.fam'.format(split_class))
source_file

'/oak/stanford/groups/mrivas/users/ytanigaw/repos/rivas-lab/biobank-methods-dev/private_data/data-split/train.fam'

In [3]:
source_df=pd.read_table(
    source_file, 
    sep='\t',
    names=['FID', 'IID', 'FIID', 'MIID', 'SEX', 'PHE']
)

In [5]:
print(source_df.shape)
source_df.head()

(202276, 6)

       FID      IID  FIID  MIID  SEX  PHE
0  1000045  1000045     0     0    2   -9
1  1000052  1000052     0     0    2   -9
2  1000087  1000087     0     0    2   -9
3  1000120  1000120     0     0    2   -9
4  1000133  1000133     0     0    1   -9

In [15]:
np.random.seed(20180808)

In [16]:
sample_num=10000

In [17]:
sampled_idx=np.random.permutation(np.arange(source_df.shape[0]))[:sample_num]

In [24]:
source_df.iloc[sampled_idx].to_csv(
    os.path.join(data_dir, 'train_10k.fam'),
    sep = '\t',
    header = False, 
    index = False,
)

In [25]:
os.path.join(data_dir, 'train_10k.fam')

'/oak/stanford/groups/mrivas/users/ytanigaw/repos/rivas-lab/biobank-methods-dev/private_data/data-split/train_10k.fam'