In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [2]:
source('../functions.R')
source('../parameters.sh')
source('parameters.sh')

In [9]:
Sys.glob(file.path(ref_d, 'ontology', paste0('*.', onto_terms))) %>%
lapply(function(f){
    fread(f, col.names=c('term_ID', 'term_desc', 'onto_P', 'onto_lvl'), sep='\t', colClasses = 'character') %>% 
    select(term_ID, term_desc)    
}) %>% bind_rows() %>% unique() -> ontoTerms_df

In [20]:
ontology <- 'MGIPhenoSingleKO'

file.path(data_d, results_sub_d, rdata_base, 'GREAT', '3_out_by_onto', paste0(ontology, '.tsv.gz')) %>%
fread() %>%
rename('sample_ID'='#sample_ID') %>%
group_by(sample_ID) %>%
mutate(BRank = 1:n()) %>%
ungroup() %>%
left_join(ontoTerms_df, by='term_ID') -> great_res_df

In [23]:
great_res_df %>% filter(BRank <= 5) %>% count(term_desc)

   term_desc                                         n
1  abnormal cellular cholesterol metabolism           1
2  abnormal cholesterol level                         7
3  abnormal circulating cholesterol level             6
4  abnormal circulating HDL cholesterol level         1
5  abnormal circulating phospholipid level           22
6  abnormal circulating triglyceride level           18
7  abnormal dental pulp morphology                    1
8  abnormal digestive system physiology               3
9  abnormal hepatobiliary system physiology          28
10 abnormal immunoglobulin level                      1
11 abnormal kidney physiology                         1
12 abnormal liver physiology                         25
13 abnormal nephron morphology                        4
14 abnormal phospholipid level                        3
15 abnormal renal corpuscle morphology                1
16 abnormal triglyceride level                       27
17 abnormal urine homeostasis                         2
18 enlarged spleen                                   16
19 increased circulating phospholipid level           1
20 increased circulating triglyceride level           1
21 increased triglyceride level                       5
22 lethality throughout fetal growth and development  1

In [ ]:
file.path(data_d, results_sub_d, rdata_base, 'GREAT_out', paste0(ontology, '.tsv.gz')) %>%
fread() %>%
rename('sample_ID'='#sample_ID') %>%
group_by(sample_ID) %>%
mutate(BRank = 1:n()) %>%
ungroup() -> great_res_df